/demoTools/bin/

/demoTools/gen/

/demoTools/.settings/
/demoTools/ant.properties
/demoTools/build.xml
/demoTools/custom_rules.xml
/demoTools/local.properties
/demoTools/res/values/channel_string.xml
/demoTools/.gradle/
/demoTools/.idea/
/demoTools/build/
/demoTools/gradle/
/demoTools/build.gradle
/demoTools/gradlew
/demoTools/gradlew.bat
/demoTools/demoTools.iml
/demoTools/emsLibrary/
/demoTools/import-summary.txt
/demoTools/settings.gradle
/demoTools/imgloader_library
/demoTools/keystore/